*{
	text-align: center;
}
body{
	background: #CCCCCC;
}
#regreso{
	padding: 10px;
	background: black;
	color: red; 
}
#prob{
	text-align: left;
	color: black;
	font-size: 22px;
	border: solid 1px black;
	border-radius: 10px;
	background: lightblue;
	padding: 5px;
}